!**/.eslintrc*
node_modules*
dist
*.svg
*.ico
*.json
.gitignore
*.md
*.log
*.lock

src/registerServiceWorker.js
src/**/test/**
config-overrides.js
/public
/build
/dist
react-app-env.d.ts
/typings
echarts-dark-theme.*
!.eslintrc.js
